<h1 class="alert alert-primary text-center" style="background-color: aqua; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Welcome to Nasted Routing</h1>
<div class="container-fluid">
    <img src="https://hourofcode.com/shared/images/fit-1200/hoc-cse-arrows.png" style="height: 300px; width: 1510px;">
<div style="margin-left: 150px;" class="container text-center my-3 ">
<button routerLink="register" class="btn btn-primary">Sign UP</button><span>&nbsp;</span>
<button routerLink="login" class="btn btn-primary">Sign IN</button><span>&nbsp;</span>
</div>
</div>