

<div class="container-fluid" >
  <div>
    <h2 class="alert alert-primary text-center" style="background-color: brown;color: black; ;">Welcome to Router</h2>
  </div>
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="store" style="color: black;" >Registration</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="delete" style="color: darkblue;">Delete User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="usersList" style="color: darkred;">User List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="update" style="color: orangered;">Update User</a>
      </li>
    </ul>
    
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>